h1 {
	color: white;
	font-size: 20px;
	margin: 0;
	line-height: 45px;
	font-weight: 600;
}

h2 {
	color: black;
	font-size: 24px;
	line-height: 36px;
	font-weight: 600;
}

p {
	color: black;
	font-size: 14px;
}

.text--small {
	font-size: 11px;
}

.text--center {
	text-align: center;
}