<form name="register-form" (ngSubmit)="register()" #registerForm="ngForm">
  <div class="form__group">
    <label for="username" class="sr-only">Username</label>
    <input type="text"  name="username" 
        [(ngModel)]="model.username" 
        #username="ngModel" required 
        placeholder="Login"
        minlength="4" />

    <div class="input-errors" *ngIf="username.errors && (username.dirty || username.touched)">
      <p *ngIf="username.errors.required">Username is required</p>
      <p *ngIf="username.errors.minlength">Usernaem must be 4 characters long</p>
    </div>

  </div>
  <div class="form__group">
    <label for="email" class="sr-only">Username</label>
    <input type="email"  name="email" 
        [(ngModel)]="model.email" 
        #email="ngModel" required 
        placeholder="E-mail"
        minlength="4" />

    <div class="input-errors" *ngIf="email.errors && (email.dirty || email.touched)">
      <p *ngIf="email.errors.required">Email is required</p>
      <p *ngIf="email.errors.minlength">Email must be 4 characters long</p>
    </div>

  </div>
  <div class="form__group">
    <label for="password" class="sr-only">Password</label>
    <input type="password"  name="password" 
        [(ngModel)]="model.password" required 
        placeholder="Password" #password="ngModel"
        minlength="4"/>

    <div class="input-errors" *ngIf="password.errors && (password.dirty || password.touched)">
      <p *ngIf="password.errors.required">Password is required</p>
      <p *ngIf="password.errors.minlength">Password must be 4 characters long</p>
    </div>
        
  </div>
  <div class="form__group">
    <label for="repeatPassword" class="sr-only">Password</label>
    <input type="password"  name="repeatPassword" 
        [(ngModel)]="model.repeatPassword" required 
        placeholder="Repeat password" #repeatPassword="ngModel"
        minlength="4"/>

    <div class="input-errors" *ngIf="repeatPassword.errors && (repeatPassword.dirty || repeatPassword.touched)">
      <p *ngIf="repeatPassword.errors.required">Password is required</p>

      <p *ngIf="repeatPassword.errors.minlength">Password must be 4 characters long</p>
    </div>
    <div class="input-errors" *ngIf="repeatPassword.value != password.value  && (repeatPassword.dirty || repeatPassword.touched)">
      <p *ngIf="repeatPassword.value != password.value">Password is not match</p>
    </div>
        
  </div>
  
  <div class="form__errors" *ngIf="errors.length > 0">
    <p *ngFor="let error of errors">
      {{error}}
    </p>
  </div>

  <div class="btn__group">
    <button [disabled]="!registerForm.form.valid || repeatPassword.value != password.value || processing" class="btn">Register</button>
  </div>

  
</form>