<form name="login-form" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form__group">
    <label for="username" class="sr-only">Username</label>
    <input type="text"  name="username" 
        [(ngModel)]="model.username" 
        #username="ngModel" required 
        placeholder="Login or E-mail"
        minlength="4" />

    <div class="input-errors" *ngIf="username.errors && (username.dirty || username.touched)">
      <p *ngIf="username.errors.required">Username is required</p>
      <p *ngIf="username.errors.minlength">Usernaem must be 4 characters long</p>
    </div>

  </div>
  <div class="form__group">
    <label for="password" class="sr-only">Password</label>
    <input type="password"  name="password" 
        [(ngModel)]="model.password" required 
        placeholder="Password" #password="ngModel"
        minlength="4"/>

    <div class="input-errors" *ngIf="password.errors && (password.dirty || password.touched)">
      <p *ngIf="password.errors.required">Password is required</p>
      <p *ngIf="password.errors.minlength">Password must be 4 characters long</p>
    </div>
        
  </div>
  <div class="form__errors" *ngIf="error != ''">
      {{error}}
  </div>
  <div class="btn__group">
    <button [disabled]="!loginForm.form.valid || processing" class="btn">Login</button>
  </div>
</form>