<nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
					<div class="nav__logo">
						<h1>Raa's Angular Auth</h1>
					</div>
			</div>
			<div class="col-sm-9">
				<div class="nav__links">
					<ul *ngIf="isLogged" class="links__section">
						<li ><a  routerLinkActive="active" routerLink="/dashboard/home" >Home</a></li>
						<li ><a  routerLinkActive="active" routerLink="/dashboard/secret" >Secret</a></li>						
					</ul>
					<ul *ngIf="isLogged" class="links__section">
						<li *ngIf="isAdmin" ><a routerLinkActive="active" routerLink="/admin">Admin panel</a></li>
						<li><a routerLinkActive="active" routerLink="/account/manage" >Manage account</a></li>
						<li><a routerLinkActive="active" routerLink="/account/logout">Logout</a></li>
					</ul>
					<ul *ngIf="!isLogged" class="links__section">
						<li><a routerLinkActive="active" routerLink="/account/login" >Login</a></li>
						<li><a routerLinkActive="active" routerLink="/account/register" >Register</a></li>
					</ul>
				</div>
			</div>
		</div>	  
	</div>
</nav>